@model UpdateNotificationDto

@{
    ViewData["Title"] = "UpdateNotification";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Bildirim Güncelleme</h4>
        <div class="row">
            <div class="col-md-6">
                <!-- Form start -->
                <form asp-action="UpdateNotification" method="post">
                    <div class="card">
                        <!-- Hidden field to pass the NotificationID -->
                        <input type="hidden" asp-for="NotificationID" id="notificationID" name="notificationID" />

                        <div class="card-header">
                            <div class="card-title">Bildirim Güncelleme Formu</div>
                        </div>

                        <div class="card-body">
                            <div class="form-group">
                                <label for="notificationType">Bildirim Türü</label>
                                <input type="text" class="form-control" asp-for="Type" id="notificationType" name="notificationType" placeholder="Bildirim Türü">
                            </div>
                        </div>

                        <div class="card-body">
                            <div class="form-group">
                                <label for="notificationIcon">Bildirim Icon</label>
                                <input type="text" class="form-control" asp-for="Icon" id="notificationIcon" name="notificationIcon" placeholder="Bildirim Icon">
                            </div>
                        </div>

                        <div class="card-body">
                            <div class="form-group">
                                <label for="notificationDescription">Açıklama</label>
                                <input type="text" class="form-control" asp-for="Description" id="notificationDescription" name="notificationDescription" placeholder="Açıklama">
                            </div>
                        </div>

                        <div class="card-body">
                            <div class="form-group">
                                <label for="notificationStatus">Durum</label>
                                <input type="checkbox" asp-for="Status" id="notificationStatus" name="notificationStatus">
                            </div>
                        </div>

                        <div class="card-action">
                            <button type="submit" class="btn btn-primary">Bildirimi Güncelle</button>
                        </div>
                    </div>
                </form>
                <!-- Form end -->
            </div>
        </div>
    </div>
</div>
