@model CreateProductDto
@{
	ViewData["Title"] = "CreateProduct";
	Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">Ürün işlemleri</h4>
		<div class="row">
			<div class="col-md-6">
				<form method="post">
					<div class="card">
						<div class="card-header">
							<div class="card-title">Yeni Ürün Girişi</div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="productname">Ürün Adını Giriniz</label>
								<input type="text" class="form-control" asp-for="ProductName" id="Product" />

							</div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="price">Ürün Fiyatını Giriniz</label>
								<input type="text" class="form-control" asp-for="Price" id="price" />

							</div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="imageUrl">Ürün Görselini Giriniz</label>
								<input type="text" class="form-control" asp-for="ImageUrl" id="imageurl" />

							</div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="price">Ürün Kategorisini  Seçiniz</label>
								<input type="text" class="form-control" asp-for="Price" id="price" />

							</div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="description">Ürün Açıklamasını Giriniz</label>
								<input type="text" class="form-control" asp-for="Description" id="description" placeholder="Kategori Adı">

							</div>
						</div>
						<div class="card-action">
							<button class="btn btn-primary">Ürün Ekle</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
W